@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}



@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 346.8 77.2% 49.8%;
    --radius: 1rem;
    --chart-1: 347 77% 50%;
    --chart-2: 352 83% 91%;
    --chart-3: 350 80% 72%;
    --chart-4: 351 83% 82%;
    --chart-5: 349 77% 62%;
    --chart-6: 348 77% 55%;
    --chart-7: 346 77% 50%;
    --chart-8: 345 77% 50%;
    --chart-9: 344 77% 50%;
    --chart-10: 343 77% 50%;
    --chart-11: 342 77% 50%;
    --chart-12: 341 77% 50%;
    --chart-13: 340 77% 50%;
    --chart-14: 339 77% 50%;
    --chart-15: 338 77% 50%;
    --chart-16: 337 77% 50%;
    --chart-17: 336 77% 50%;
    --chart-18: 335 77% 50%;
    --chart-19: 334 77% 50%;
    --chart-20: 333 77% 50%;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 346.8 77.2% 49.8%;
    --chart-1: 347 77% 50%;
    --chart-2: 349 77% 62%;
    --chart-3: 350 80% 72%;
    --chart-4: 351 83% 82%;
    --chart-5: 352 83% 91%;
    --chart-6: 353 83% 91%;
    --chart-7: 354 83% 91%;
    --chart-8: 355 83% 91%;
    --chart-9: 356 83% 91%;
    --chart-10: 357 83% 91%;
    --chart-11: 358 83% 91%;
    --chart-12: 359 83% 91%;
    --chart-13: 0 83% 91%;
    --chart-14: 1 83% 91%;
    --chart-15: 2 83% 91%;
    --chart-16: 3 83% 91%;
    --chart-17: 4 83% 91%;
    --chart-18: 5 83% 91%;
    --chart-19: 6 83% 91%;
    --chart-20: 7 83% 91%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}





@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}


.line-gradient-left-green {
  background: conic-gradient(
    from 179.86deg at 70% 30%,
    rgba(0, 137, 129, 0.834706) -23.11deg,
    rgba(24, 19, 26, 0.13) 66.2deg,
    rgba(0, 0, 0, 0) 264.9deg,
    #00fff0 272.38deg,
    rgba(0, 137, 129, 0.834706) 336.89deg,
    rgba(24, 19, 26, 0.13) 426.2deg
  );
  transform: matrix(1, 0, 0, -1, 0, 0);
  width: 100vw;
  height: 100vh;
  position: absolute;
  bottom: 0;
  left: 0;
}

.line-gradient-right-green {
  transform: rotate(-180deg);
  background: conic-gradient(
    from 179.86deg at 70% 30%,
    rgba(0, 137, 129, 0.834706) -23.11deg,
    rgba(24, 19, 26, 0.13) 66.2deg,
    rgba(0, 0, 0, 0) 264.9deg,
    #00fff0 272.38deg,
    rgba(0, 137, 129, 0.834706) 336.89deg,
    rgba(24, 19, 26, 0.13) 426.2deg
  );
  width: 100vw;
  height: 100vh;
  position: absolute;
  bottom: 0;
  right: 0;
}

.line-gradient-left-red {
  background: conic-gradient(
    from 179.86deg at 70% 30%,
    rgba(255, 0, 0, 0.834706) -23.11deg,
    rgba(255, 99, 71, 0.13) 66.2deg,
    rgba(0, 0, 0, 0) 264.9deg,
    #ff6347 272.38deg,
    rgba(255, 0, 0, 0.834706) 336.89deg,
    rgba(255, 99, 71, 0.13) 426.2deg
  );
  transform: matrix(1, 0, 0, -1, 0, 0);
  width: 100vw;
  height: 100vh;
  position: absolute;
  bottom: 0;
  left: 0;
}

.line-gradient-right-red {
  transform: rotate(-180deg);
  background: conic-gradient(
    from 179.86deg at 70% 30%,
    rgba(255, 0, 0, 0.834706) -23.11deg,
    rgba(255, 99, 71, 0.13) 66.2deg,
    rgba(0, 0, 0, 0) 264.9deg,
    #ff6347 272.38deg,
    rgba(255, 0, 0, 0.834706) 336.89deg,
    rgba(255, 99, 71, 0.13) 426.2deg
  );
  width: 100vw;
  height: 100vh;
  position: absolute;
  bottom: 0;
  right: 0;
}




button {
  @apply transform transition-transform duration-300 active:scale-125;
}